<!DOCTYPE html>
<html>

<head>
    <title>aboutpage</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
    </div>
    <h1>
        <center>XYZ COLLEGE OF ENGINEERING AND TECHNOLOGY</center>
    </h1>
    <p>
        <center>In 2017 we opened a brand-new, purpose-built academic building expansion and we are very proud of our extensive laboratory infrastructure - among the best in the UAE - which spans more than an entire floor of the College. Each discipline has its
            own specialized lab facilities and the recent addition of our mechanical engineering research lab and bio-imaging lab gives us the edge. Joint research projects between our experienced faculty and their international peers guarantee you will
            be taught by a professional team of engineers up-to-date with the latest advancements in their fields. The annual publication of university rankings by Quacquarelli Symonds (QS) ranks our faculty third globally in the international faculty
            indicator. Collaboration with industry and association with international professional engineering and architecture bodies such as the Institute of Electrical & Electronic Engineers (IEEE), American Society of Civil engineers (ASCE), American
            Society of Mechanical Engineers (ASME), American Institute of Chemical Engineers (AIChE) and the Royal Institute of British Architects (RIBA) ensure ADU’s College of Engineering remains at the cutting-edge of developments in the fast-changing
            field of engineering and technology. We pride ourselves on the agility of our curricula, responding quickly to technological advances, guaranteeing you will graduate with the skills and knowledge relevant to the needs of the market. ABET,
            an accrediting agency for programs in applied and natural science, computing, engineering, and engineering technology is recognized as an accreditor by the prestigious Council for Higher Education Accreditation based in the USA. ABET accreditation
            facts: Accrediting institutions for over 80 years Currently accredits 3,709 programs at 752 colleges in 30 countries Approximately 85,000 students graduate from ABET-accredited programs each year Assurance that programs meet the quality standards
            of the related profession Ensures programs are leading the way in innovation and emerging technologies Assessment criteria developed by technical professionals Guarantees high quality learning in technical education Accreditation by a network
            of more than 2,200 experts from academia, government, and industry International quality standards, respected worldwide The Royal Institute of British Architects (RIBA) is a global professional membership body driving excellence in architecture,
            founded for the advancement of architecture under its charter granted in 1837 and Supplemental Charter granted in 1971. RIBA Validation is a peer review process that monitors compliance with internationally recognised minimum standards in
            architectural education and encourages excellence and diversity in student achievement.</center>
    </p>
</body>

</html>