<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>dashboard</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
    </div>
    <h1>DASHBOARD</h1><br>
    <div class="dashboard">
        <form id="dashboard" method="get">
            <label>
                <b>
                    Full Name
                </b>
            </label>
            <input type="text" name="Fname" id="Fname" placeholder="Enter your full name">
            <br><br>
            <label>
                <b>
                    Email
                </b>
            </label>
            <input type="text" name="mail" id="mail" placeholder="Enter your mail id">
            <br><br>
            <label>
                <b>
                    Address
                </b>
            </label>
            <input type="text" name="Add" id="Add" placeholder="Enter your permanent address">
            <br><br>
            <label>
                <b>
                    Password
                </b>
            </label>
            <input type="Password" name="Passw" id="Passw" placeholder="Enter yourPassword">
            <br><br>
            <label>
                <b>
                   Repeat Password
                </b>
            </label>
            <input type="Password" name="rPass" id="rPass" placeholder="Enter your Password">
            <br><br>
            <input type="button" class="submitbutton" name="Submit" id="Submit" value="Submit">
            <br><br>
        </form>
    </div>
</body>

</html>