<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>loginpage</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
    </div>
    <h1>LOGIN </h1><br>
    <div class="login">
        <form id="login" method="get" action="login.php">
            <label>
                <b>
                    User Name
                </b>
            </label>
            <input type="text" name="Uname" id="Uname" placeholder="Username">
            <br><br>
            <label>
                <b>
                    Password
                </b>
            </label>
            <input type="Password" name="Pass" id="Pass" placeholder="Password">
            <br><br>
            <input type="button" class="loginbutton" name="log" id="log" value="Log in">
            <br><br>
            <input type="checkbox" id="check">
            <span>Remember me</span>
            <br><br>
            <a href="#">Forgot Password</a>
            <style>

            </style>
        </form>
    </div>
</body>

</html>