<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <h1> Privacy Statement</h1><br>
    <p>This privacy statement discloses the privacy practices for www.xyz.ac.ae, the main XYZ University website (XYZ website) and data collected via the XYZ website. It does not apply to any other online or offline websites, products, or services that XYZ
        University provides. By using this website, you are consenting to the collection and use of your information in accordance with this privacy statement. What information do we gather about you? We and our third-party vendors collect certain information
        regarding your use of www.xyz.ac.ae, such as your IP address and browser type. Your session and the pages you visit on www.xyz.ac.ae will be tracked, but you will remain anonymous. We may use your IP address to identify the general geographic
        area from which you are accessing www.xyz.ac.ae. We connect data from different systems but do not link IP addresses to any personal information. We may also collect other information as described in this statement. We use cookies on some parts
        of the service to enhance the site experience. A cookie is a small text file stored on your computer/phone's disk by a webserver. The XYZ website may also contain direct links to other publicly available services such as social media sites. XYZ
        is not responsible for the privacy practices or the content of such websites. Since the cookie policies of these sites change over time, you should determine their policies by visiting the privacy policy pages of these sites or services directly.
        What do we use your information for?

    </p>
</body>

</html>